/**
* all the animations goes here
**/
@-webkit-keyframes fadeout {
  from {
    bottom: 46px;
    opacity: 1; }
  to {
    bottom: 120px;
    opacity: 0; } }
@-moz-keyframes fadeout {
  from {
    bottom: 46px;
    opacity: 1; }
  to {
    bottom: 120px;
    opacity: 0; } }
@-ms-keyframes fadeout {
  from {
    bottom: 46px;
    opacity: 1; }
  to {
    bottom: 120px;
    opacity: 0; } }
@-o-keyframes fadeout {
  from {
    bottom: 46px;
    opacity: 1; }
  to {
    bottom: 120px;
    opacity: 0; } }
@keyframes fadeout {
  from {
    bottom: 46px;
    opacity: 1; }
  to {
    bottom: 120px;
    opacity: 0; } }
/* main sass file */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5b5e61; }

section.main-section .title {
  width: 135px;
  margin-bottom: 15px;
  margin-top: 15px; }

header {
  background-color: #f8f8f8;
  padding-top: 1px;
  border-bottom: solid 1px #cac6c6; }
  header h4 {
    font-style: italic;
    padding-left: 5px;
    padding-bottom: 7px;
    border-bottom: solid 1px #dddddd; }
  header .search .input-group-addon {
    background-color: #286090;
    color: white; }
  @media (min-width: 768px) {
    header .search .form-inline {
      text-align: center; }
      header .search .form-inline .input-group .form-control {
        min-width: 500px; } }

.nav {
  margin-top: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .nav ul {
    list-style: none;
    margin-left: -35px;
    white-space: nowrap;
    margin-bottom: 5px; }
    .nav ul li {
      display: inline-block;
      margin-right: 16px; }
      .nav ul li a {
        padding-bottom: 5px;
        color: #5b5e61; }
        .nav ul li a:focus, .nav ul li a.active, .nav ul li a:hover {
          text-decoration: none; }
        .nav ul li a.active, .nav ul li a:hover {
          border-bottom: solid 2px #1aa1b8; }

/**
* css for productThumail
**/
.product-thumbnail {
  width: 135px;
  margin-bottom: 20px; }
  .product-thumbnail .product-img {
    width: 135px;
    height: 135px; }
  .product-thumbnail .product-description {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 135px;
    overflow: hidden; }
  .product-thumbnail .product-action {
    font-size: 15px; }
    .product-thumbnail .product-action .price {
      float: left;
      padding-top: 6px;
      font-size: 16px; }
    .product-thumbnail .product-action .actions {
      float: right; }
      .product-thumbnail .product-action .actions .basket {
        margin-right: 5px; }
  .product-thumbnail .plus-sign {
    position: absolute;
    right: 30px;
    bottom: 46px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0; }
  .product-thumbnail .plus-fade-out {
    -webkit-animation: 1s fadeout ease-in;
    -moz-animation: 1s fadeout ease-in;
    -ms-animation: 1s fadeout ease-in;
    -o-animation: 1s fadeout ease-in;
    animation: 1s fadeout ease-in; }

.footer {
  margin-top: 10px;
  margin-bottom: 82px;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8; }
  .footer .text-muted {
    margin: 20px 0 20px 0;
    text-align: center; }

.fix-footer {
  position: fixed;
  background-color: white;
  bottom: 0px;
  width: 100%;
  padding: 20px;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  box-sizing: border-box; }
  .fix-footer .bg-primary {
    padding: 10px;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
