@import "mixin.scss";
@import "animations.scss";

/* main sass file */
$line-color: #dddddd;
$text-color: #5b5e61;
$container-bg-color: #ffffff;
$dark-line-color: #cac6c6;
$header-bg: rgb(248, 248, 248);
$active-color: rgb(26, 161, 184);
$facebook-bg: #3651a0;
$container-width: 135px;

/**
* common css
**/
.square-btn {
	padding: 10px;
	text-align: center;
}

.facebook-bg {
	background-color: $facebook-bg;
}

.small-text {
	font-size: 12px;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $text-color;
}

section {
  &.main-section {
	.title {
		width: $container-width;
		margin-bottom: 15px;
		margin-top: 15px;
	}
  }
}

header {
  background-color: $header-bg;
  padding-top: 1px;
  border-bottom: solid 1px $dark-line-color;
  
  h4 {
	font-style: italic;
	padding-left: 5px;
	padding-bottom: 7px;
	border-bottom: solid 1px $line-color;
  }

  .search {
  	.input-group-addon {
  	  background-color: #286090;
  	  color: white;
  	}

  	@media (min-width: 768px) {
	   .form-inline {
	   	 text-align: center;

	   	 .input-group {
	   	   .form-control {
	   	   	 min-width: 500px;
	   	   }
	   	 }
	   }
  	}
  }
}


.nav {
	margin-top: 15px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	ul {
	  list-style: none;
	  margin-left: -35px;
	  white-space: nowrap;
	  margin-bottom: 5px;

	  li {
	  	display: inline-block;
	  	margin-right: 16px;

	  	a {
	  		padding-bottom: 5px;
	  		color: $text-color;  	  		
	  		
	  		&:focus, &.active, &:hover {
	  			text-decoration: none;
	  		}

	  		&.active, &:hover {
	  			border-bottom: solid 2px $active-color;
	  		}
	  	}
	  }
	}
}

/**
* css for productThumail
**/
.product-thumbnail {
	width: $container-width;
	margin-bottom: 20px;
	
	.product-img {
		width: $container-width;
		height: $container-width;
	}

	.product-description {
		text-align: center;
		padding-top: 2px;
		padding-bottom: 4px;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: $container-width;
		overflow: hidden;
	}

	.product-action {
		font-size: 15px;

		.price {
			float: left;
		    padding-top: 6px;
    		font-size: 16px;
		}

		.actions {
			float: right;

			.basket {
				margin-right: 5px;
			}
		}
	}

	.plus-sign {
		position: absolute;
		right: 30px;
	    bottom: 46px;
	    font-size: 20px;
	    font-weight: bold;
	    opacity: 0;
	}
	
	.plus-fade-out {
		@include animation("1s fadeout ease-in")
	}
}


.footer {
    margin-top: 10px;
    margin-bottom: 82px;
    width: 100%;
    height: 60px;
    background-color: $header-bg;
    
    .text-muted {
    	margin: 20px 0 20px 0;
    	text-align: center;
    }
}

.fix-footer {
	position: fixed;
	background-color: white;
	bottom: 0px;
	width: 100%;
	padding: 20px;
	border-top: solid 1px $line-color;
	border-bottom: solid 1px $line-color;
	box-sizing: border-box;
}

.basket {
	.sections-container {
		margin-top: 15px;
	}
	
	.section {
		padding: 10px;
		border: solid 1px $line-color;

		&.no-bottom-border {
			border-bottom: none;
		}
		
		.item-container {			
			&:not(:last-child) {
				margin-bottom: 8px;
			}

			button {
				padding: 5px;
				border: solid 1px $dark-line-color;
				width: 25px;
				height: 25px;
				background-color: white;
				margin-right: 7px;
				position: relative;
				top: -2px;

				.glyphicon {
					position: relative;
					font-size: 11px;
					top: -2px;
				}
			}

			.item-title {
				strong {
					font-size: 12px;
				}
			}
		}

		.summary-container {
			font-weight: 200;

			&.large-text {
				margin-top: 20px;
				font-size: 17px;
			}
		}

		.title {
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 7px;
		}

		.col-xs-6 {
			padding-left: 0px;
			
			label {
				margin-left: 5px;
				vertical-align: middle;
			}

			.small-text {
				margin-left: 17px;
			}
		}
	}
}