/* main sass file */
$line-color: #dddddd;
$text-color: #5b5e61;
$container-bg-color: #ffffff;
$dark-line-color: #cac6c6;
$header-bg: rgb(248, 248, 248);
$active-color: rgb(26, 161, 184);

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $text-color;
}

section {
  &.main-section {
	// background-color: $container-bg-color;
	h4 {
		padding-left: 2px;
	}


  }
}

header {
  background-color: $header-bg;
  padding-top: 1px;
  border-bottom: solid 1px $dark-line-color;
  
  h4 {
	font-style: italic;
	padding-left: 5px;
	padding-bottom: 7px;
	border-bottom: solid 1px $line-color;
  }

  .search {
  	.input-group-addon {
  	  background-color: #286090;
  	  color: white;
  	}

  	@media (min-width: 768px) {
	   .form-inline {
	   	 text-align: center;

	   	 .input-group {
	   	   .form-control {
	   	   	 min-width: 500px;
	   	   }
	   	 }
	   }
  	}
  }
}


.nav {
	margin-top: 15px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	ul {
	  list-style: none;
	  margin-left: -35px;
	  white-space: nowrap;
	  margin-bottom: 5px;

	  li {
	  	display: inline-block;
	  	margin-right: 16px;

	  	a {
	  		padding-bottom: 5px;
	  		color: $text-color;  	  		
	  		
	  		&:focus, &.active, &:hover {
	  			text-decoration: none;
	  		}

	  		&.active, &:hover {
	  			border-bottom: solid 2px $active-color;
	  		}
	  	}
	  }
	}
}

/**
* css for productThumail
**/
.product-thumbnail {
	$container-width: 140px;
	width: $container-width;
	margin-bottom: 10px;
	
	.product-img {
		width: $container-width;
		height: $container-width;
	}

	.product-description {
		text-align: center;
		padding-top: 2px;
		padding-bottom: 4px;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: $container-width;
		overflow: hidden;
	}

	.product-action {
		font-size: 15px;

		.price {
			float: left;
		    padding-top: 6px;
    		font-size: 16px;
		}

		.actions {
			float: right;

			.basket {
				margin-right: 5px;
			}
		}
	}
}


.footer {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    background-color: $header-bg;
    
    .text-muted {
    	margin: 20px 0 20px 0;
    }
}



