$line-color: #dddddd;
$text-color: #5b5e61;
$container-bg-color: #ffffff;
$dark-line-color: #cac6c6;
$header-bg: rgb(248, 248, 248);
$active-color: rgb(26, 161, 184);
$facebook-bg: #3651a0;
$container-width: 280px;
$container-height: 280px;
$image-width: 120px;
$image-height: 120px;

@media (min-width: 767px) {

  .menu-categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    color: #333333;
    text-align: center;
    width:  100%;
    display: table;
    border-top-width: 0;
    table-layout: fixed;

    li {
      width: 25%;
      border-color: rgba(255,255,255,.2);
      a {
        color: #337ab7;;
      }
      a:hover {
        background-color: #e31837;
        color: #ffffff;
      }
    }
  }

  .menu-section {
    float: left;
    width:  65%;
    background-color: #333333;
    text-align: center;
    height: 52px;
    padding-top: 15px;
    color: #FFFFFF;

    li {
      a:hover {
        background-color: #e31837;
        color: #ffffff;
      }
    }
  }

  .menu-actions {
    font-size: 16px;
    font-weight: bold;
  }

  .categories-select {
    display: none;
  }

  .basket-section {
    float: right;
    width:35%;
    background-color: #0076ab;
    font-size: 16px;
    font-weight: bold;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #e31837;
  }

  .search {
    padding-top: 20px;
    .input-group {
      display: block !important;
    }

    .input-group-addon {
      width: 25%;
      display: inline-block;
      background-color: #286090;
      color: #ffffff;
      height: 44px;
      font-size: 16px;
      line-height: 19px;
      border-radius: 3px;
      border-left: 0px;
    }
    .search-input {
      width: 75%;
      height: 44px;
      outline: none;
      font-size: 16px;
      border-radius: 3px;
      line-height: 19px;
      padding: 8px 165px 8px 30px;
      border-right: 0px;
    }
  }

  /**
  * css for productThumail
  **/
  .product-thumbnail {
    width: $container-width;
    margin-bottom: 20px;
    position: relative;

    .product-img {
      width: $image-width;
      height: $image-height;
      float:  left;
    }

    .product-description {
      width: $container-width / 2;
      float: right;
      padding: 10px 10px 10px 0;
    }

    .product-name {
      text-align: center;
      padding-top: 8px;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: $container-width;
      height: 35px;
      overflow: hidden;
      background: rgba(0, 0, 0, .7);
      color: #ffffff;
      font-size: 15px;

      .capitalize {
        text-transform: capitalize;
      }
    }

    .product-action {
      width:  $container-width;
      font-size: 16px;
      background-color: #13729E;

      .price {
        //width:  40%;
        float: left;
        padding-top: 6px;
        font-size: 16px;
        color: #ffffff;
        padding-left: 18px;
      }

      .actions {
        float: right;
        width:  71%;
        .add-to-basket {
          padding-left:  75px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
        }
      }
    }

    .plus-sign {
      position: absolute;
      right: 30px;
      bottom: 46px;
      font-size: 20px;
      font-weight: bold;
      opacity: 0;
    }

    .plus-fade-out {
      @include animation("1s fadeout ease-in")
    }
  }

  .footer {
    margin-top: 10px;
    margin-bottom: 82px;
    width: 100%;
    height: 60px;
    background-color: $header-bg;

    .text-muted {
      margin: 20px 0 20px 0;
      text-align: center;
    }
  }

  .fix-footer {
    position: fixed;
    background-color: white;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    border-top: solid 1px $line-color;
    border-bottom: solid 1px $line-color;
    box-sizing: border-box;
  }

  .basket {
    .sections-container {
      margin-top: 15px;
    }

    [class^="col-"] {
      padding-left: 0px;

      label {
        margin-left: 5px;
        vertical-align: middle;
      }

      .small-text {
        margin-left: 17px;
      }
    }

    .section {
      padding: 10px;
      border: solid 1px $line-color;

      &.no-bottom-border {
        border-bottom: none;
      }

      .item-container {
        &:not(:last-child) {
          margin-bottom: 8px;
        }

        button {
          padding: 5px;
          border: solid 1px $dark-line-color;
          width: 25px;
          height: 25px;
          background-color: white;
          margin-right: 7px;
          position: relative;
          top: -2px;

          .glyphicon {
            position: relative;
            font-size: 11px;
            top: -2px;
          }
        }

        .item-title {
          strong {
            font-size: 12px;
          }
        }
      }

      .summary-container {
        font-weight: 200;

        &.large-text {
          margin-top: 20px;
          font-size: 17px;
        }
      }

      .title {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 7px;
        width: auto;
      }
    }
  }

  .eshop-form {
    padding: 20px;

    .facebook {

    }

    input[type='submit'], input[type='button'], button {
      width: 100%;
    }

    .seperator {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;

      span {
        min-width: 100px;
        text-align: center;
        display: inline-block;
        position: relative;
        z-index: 100;
        background-color: white;
      }

      .line {
        content: "";
        display: block;
        width: 100%;
        background-color: $line-color;
        height: 1px;
        position: relative;
        top: 11px;
        z-index: 1;
      }
    }
  }

  .loader {
    $squareWidth: 120px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(99, 99, 99, 0.7);

    .square {
      width: $squareWidth;
      height: $squareWidth;
      border-radius: 8px;
      color: white;
      position: absolute;
      left: calc(50% - #{$squareWidth/2});
      top: calc(50% - #{$squareWidth/2});

      @include linear-gradient(to bottom, rgb(86, 86, 86) 0%, rgb(0, 0, 0) 100%);

      &:before {
        content: "loading ...";
        position: relative;
        top: 47px;
        left: 24px;
        font-size: 18px;
      }
    }
  }
}